@import url('https://fonts.googleapis.com/css2?family="Crimson"');

*{
    font-family: 'Crimson', serif;
    padding: 0; margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
}

html{
    overflow-x: hidden;
    font-size: 60.5%;
}

/*  Header_Section */

.heading{
    color: #333;
    font-size: 3.5rem;
    padding: 1rem;
    padding-top: 6rem;
    text-align: center;
    letter-spacing: .2rem;
}

.heading span{
    color:#0098a1;  
}

header{
    width: 46%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 1.5rem; left:50%;   
    transform: translateX(-50%);
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
    padding: .3rem 2rem;
    transition: .2s linear;
    z-index: 1000;
}

.header-active{
    top:0;
    width: 100%;
    border-radius: 0;
}

header .logo{
    color: #333;
    font-size: 3rem;
}

header .logo span{
    color: #0098a1;
}

header .navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0; padding: 0;
}

header .navbar ul li{
    margin: 0 1rem;
}

header .navbar ul li a{
    font-size: 2rem;
    color: #333;
    transition: .2s linear;
}


header .navbar ul li .active,
header .navbar ul li a:hover{
    color: #0098a1;
}

header .fa-bars{
    font-size: 3rem;
    color: #0098a1;
    cursor: pointer;
    display: none;
}

/* end Header*/


/* Home Section ---*/

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding: 2rem 10rem;
}

.home .video video{
    position: absolute;
    top:0;  left:0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.home .content{
    margin-top: 7rem;
}

.home .content p{
    font-size: 1.5vw;
    color: #eee;
    text-shadow: 0 .3rem .5rem #000;
    padding-left: 2rem;
    border-left: .3rem solid #ddd;
}