@import url('https://fonts.googleapis.com/css2?family="Crimson"');

*{
    font-family: 'Crimson', serif;
    padding: 0; margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
}

html{
    overflow-x: hidden;
    font-size: 60.5%;
}

/*  Header_Section */

.heading{
    color: #333;
    font-size: 3.5rem;
    padding: 1rem;
    padding-top: 6rem;
    text-align: center;
    letter-spacing: .2rem;
}

.heading span{
    color:#0098a1;  
}

header{
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 1.5rem; left:50%;   
    transform: translateX(-50%);
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
    padding: .3rem 2rem;
    transition: .2s linear;
    z-index: 1000;
}

.header-active{
    top:0;
    width: 100%;
    border-radius: 0;
}

header .logo{
    color: #333;
    font-size: 3rem;
}

header .logo span{
    color: #0098a1;
}

header .navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0; padding: 0;
}

header .navbar ul li{
    margin: 0 1rem;
}

header .navbar ul li a{
    font-size: 2rem;
    color: #333;
    transition: .2s linear;
}


header .navbar ul li .active,
header .navbar ul li a:hover{
    color: #0098a1;
}

header .fa-bars{
    font-size: 3rem;
    color: #0098a1;
    cursor: pointer;
    display: none;
}

/* end Header*/


/* Home Section ---*/

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding: 2rem 10rem;
}

.home .video video{
    position: absolute;
    top:0;  left:0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.home .content{
    margin-top: 7rem;
}

.home .content h1{
    font-size: 6.1vw;
    /*color: rgb(255, 255, 255);
    /*background-color: #0098a1;*/
    color: #fff;
    text-shadow: 0 .3rem .5rem #000;
}

.home .content h2{
    font-size: 7.0vw;
    color: rgb(14, 70, 51);
}
.home .content p{
    font-size: 1.5vw;
    color: rgb(156, 18, 18);
    background-color: #b7e8ea;
    text-shadow: 0 .3rem .5rem #000;
    padding-left: 2rem;
    border-left: .3rem solid #ddd;
}

.home .form-container form{
    margin-top: 8rem;
    padding: 2rem;
    width: 40rem;
    background-color: #fff;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.9);
    border-radius: .5rem;
}

.home .form-container form h3{
    color: #333;
    font-size: 3rem;
    text-align: center;
}

.home .form-container form span{
    color: #0098a1;
    font-size: 2.5rem;
    margin: 5rem 0;
    display: block;
}

.home .form-container form input{
    width: 100%;
    padding: 0 1rem;
    height: 4rem;
    font-size: 1.5rem;
    background: #eee;
    border: none;
    outline: none;
    color: #333;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3) inset;
    border-radius: .5rem;
}

.home .form-container form input[type="submit"]{
    width: 10rem;
    color: #fff;
    background: #0098a1;
    cursor: pointer;
    font-size: 2rem;
    margin-top: 2rem;
    transition: .2s linear;
}

.home .form-container form input[type="submit"]:hover{
    border: 2rem solid #0098a1;
    color:#0098a1;
    background: none;
}

/* Home Section ENd---*/

/* Featured Section---*/

.feature{
    min-height: 100vh;
    background: #f9f9f9;
}

.feature .card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.feature .card-container .card{
    width: 30rem;
    margin: 2rem;
    background: #fff;
    border-radius: .5rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
    overflow: hidden;
    position: relative;
}

.feature .card-container .card img{
    height: 25rem;
    width: 100%;
    object-fit: cover;
}

.feature .card-container .content{
    padding-bottom: 2rem;
    text-align: center;
}

.feature .card-container .content .title{
    color: #0098a1;
    font-size: 3rem;
}

.feature .card-container .content p{
    color: #333;
    font-size: 1.3rem;
    padding: 1rem;
}

.feature .card-container .content .stars i{
    padding: 0 .2rem;
    font-size: 2rem;
    color: gold;
}

.feature .card-container .content .btn{
    font-size: 1.7rem;
    margin-top: 1.4rem;
    height: 3.5rem;
    width: 12rem;
    border-radius: .5rem;
    outline: none;
    border: none;
    background: #0098a1;
    color: pointer;
    transition: .2s linear;
}

.feature .card-container .content .btn:hover{
    background: none;
    border: 2rem solid #0098a1;
    color: #0098a1;
}

.feature .card-container .card .discount{
    position: absolute;
    top: 1rem; left: 1rem;
    display: block;
    height: 3.5rem;
    width: 6rem;
    background: #ff3300;
    color: #fff;
    line-height: 4rem;
    text-align: center;
    font-size: 2rem;
}

/*-- Featured Section End --*/

.about{
    min-height: 100vh;
}

.about .row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
}

.about .row .image img{
    height: 65vh;
    width: 50vw;
}

.about .row .content h3{
    font-size: 4rem;
    color: #0098a1;
}

.about .row .content p{
    font-size: 1.9rem;
    color: #333;
}

.about .row .content .btn{
    outline: none;
    border: none;
    cursor: pointer;
    transition: .2s linear;
    height: 4rem;
    width: 18rem;
    margin-top: 1rem;
    color: #fff;
    background: #0098a1;
    font-size: 2rem;
}

.about .row .content btn1,
.about .row .content .btn:hover{
    background: none;
    color: #0098a1;
    border: 2rem solid #0098a1;
    margin-right: 1rem;
}

/* aboout section end*/




/* Gallery Section Start*/

.gallery{
    min-width: 100vh;
}

.gallery .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.gallery .box-container .box{
    height: 20rem;
    width: 30rem;
    margin: 2rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.gallery .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery .box-container .box .icons{
    position: absolute;
    top: 120%; left: 0;
    background: linear-gradient(transparent,#333);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .2s linear;
}

.gallery .box-container .btn:hover .icons{
    opacity: 1;
    top: 0;
}

.gallery .box-container .box .icons a{
    color: #fff;    
    text-shadow: 0 .1rem .3rem #000;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.gallery .box-container .box .icons a:hover{
    color: #0098a1;
}

/* Gallery Section End*/