@import url('https://fonts.googleapis.com/css2?family="Crimson"');

*{
    font-family: 'Crimson', serif;
    padding: 0; margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
}

html{
    overflow-x: hidden;
    font-size: 60.5%;
}

/*  Header_Section */

.heading{
    color: #333;
    font-size: 1rem;
    padding: 1rem;
    padding-top: 6rem;
    text-align: center;
    letter-spacing: .2rem;
}

.heading span{
    color:#0098a1;  
}

header{
    width: 46%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 1.5rem; left:50%;
    transform: translate(-50%);
    border-radius: .5rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
    padding: .3rem 2rem;
    transition: .2s linear;
    z-index: 1000;
}

.header-active{
    top:0;
    width: 100%;
    border-radius: 0;
}

header .logo{
    color: #333;
    font-size: 3rem;
}

header .logo 3rem{
    color: #0098a1;
}

header .navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0; padding: 0;
}

header .navbar ul li{
    margin: 0 1rem;
}

